@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.pag-inicial {
    text-align: center; /*alinha ao centro*/
}

.botoes img{
     width: 200 px;
}
 
.duas-imagens {
    display:flex;
    height: 200px;

}

.duas-imagens img{
    width: 100%;

}
.imagem {
    width: 50%;
    height: 600px;
    overflow: hidden; 
}

.botões a{
    margin: 12%;
    padding: 20px;
    margin-top: -100px;
    color:aliceblue;
    font-family: "PT Sans", sans-serif;
    text-shadow: black 0.1em 0.1em 0.8em;
    text-decoration: none;
    font-size: 22px;
    

}

.caixa {
    text-align: center;
    background-color: white;
    border-radius: 5%;
    margin-top: 10%;
    width: 20;


}

.login {
    display: flex;
    justify-content: center;

}

body{
    font-family: 
    margin: 0%;

}
.caixa {
    display: flex; /*muda a disposição dos elementos na tela*/
}

.lado esquerdo {
    width: 65%; /*define o lado esquerdo com 70% da tela*/
    height: 100%;
}

.lado-esquerdo img {
    max-width: 100% /*impede que a imagem fique muito grande*/
}

.lado-direito {
    width: 35%; /*define o lado esquerdo com 30% da tela*/
    padding: 30px; /*espaçamento interno*/
}
  body.login{
    background-image: url("Red\ Silk\ Charmeuse\,\ Silk\ Fabric\,\ Fabric\ by\ the\ Yard\,\ Silk\ Charmeuse\ Fabric\,\ Silk\ Satin\ Fabric\ by\ the\ Yard\ \(1\).jpg")
}

h1{
    text-align: center;
}